.ListCardNoChange {
	display: flex;
	flex-direction: column;
	background-color: var(--light-shade);
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	width: 15em;
	height: 15em;
	padding: 1em;
	/* margin: 1em 0.25em; */
}
/* .ListCardNoChange {
	display: grid;
	grid-template-rows: 2fr 1fr;
	background-color: var(--light-shade);
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	width: 15em;
	height: 15em;
	padding: 1em;
} */

.ListCardNoChange .cover {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dark-shade);
	padding: 10px;
	height: 10em;
	max-width: 100%;
	overflow: hidden;
	/* margin: 0 auto; */
	border-radius: var(--border-rad);
}
.ListCardNoChange .cover svg {
	font-size: 7rem;
	fill: var(--light-accent);
	transition: ease 0.25s;
}
.ListCardNoChange .cover a:hover svg {
	font-size: 8rem;
}

.ListCardNoChange img {
	object-fit: cover;
	height: 10em;
	width: 18em;
	border-radius: var(--border-rad);
}

.ListCardNoChange .information {
	margin: 0 auto;
	padding: 1em 0;
	color: var(--dark-shade);
}
.ListCardNoChange .information h2 {
	font-weight: 600;
}

.ListCardNoChange .information .by-and-more .create-new-list .three-dots {
	font-size: 2.5rem;
	cursor: pointer;
}
