.DetailedList {
	color: var(--light-shade);
	min-height: 100vh;
}

.DetailedList .list-contents .column-names {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 33px;
	color: white;
	border-bottom: 1px solid rgb(223, 223, 222);
	max-width: 90%;
	margin-left: 5%;
}

.DetailedList .header {
	padding-left: 4em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	margin-top: 2em;
	margin-bottom: 4em;
}

.DetailedList .header .num-books {
	margin-left: 5em;
	color: var(--light-accent);
}

.DetailedList .list-contents .column-names .title {
	margin-left: 14%;
}

.DetailedList .list-contents .column-names .date-added {
	margin-right: 5%;
}

.DetailedList .list-contents .column-names .page-count {
	margin-right: 5.5em;
}

.DetailedList .list-contents .book-info {
	display: grid;
	grid-template-columns: [one] 1.15fr [two] 2.75fr [three] 4fr [four] 4fr [five] 6fr [six] 2fr [seven] 1.5fr[end];
	color: white;
	border: 1px solid rgb(223, 223, 222);
	min-height: 90%;
	margin: 2em 5%;
	padding: 2em 0;
	border-radius: var(--border-rad);
}

.DetailedList .list-contents .book-info .empty-message {
	grid-column-start: 1;
	grid-column-end: end;
	align-self: center;
	justify-self: center;
}


/* mouse over link */
.DetailedList a:hover {
	color: var(--dark-accent);
}

.DetailedList img {
	object-fit: contain;
	cursor: pointer;
	max-height: 9em;
	max-width: 6em;
	border-radius: var(--border-rad);
	transition: ease 0.5s;
	align-self: center;
}
.DetailedList img:hover {
	transform: scale(1.1);
}
