.ForgotPassword {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 100vw;
	background: var(--dark-shade);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ForgotPassword .card {
	min-height: 300px;
	width: 520px;
	padding: 24px 36px 0 36px;
	background: var(--light-shade);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
}

.ForgotPassword .card .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	padding-bottom: 10px;
}

.ForgotPassword .card .form .input-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	margin: 12px 0;
}

.ForgotPassword .card .form .input-field label {
	color: #696f79;
}

.ForgotPassword .card .form .input-field input {
	height: 52px;
	padding: 0 15px;
	font-size: 16px;
	border: solid 1px #8692a6;
	width: 100%;
	border-radius: 6px;
}

.ForgotPassword .card .form .btn {
	background-color: var(--dark-accent);
	border: none;
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	height: 2em;
	width: 10em;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: ease 0.25s;
}

.ForgotPassword .card .error {
	background: #fe5421;
	background: rgba(245, 41, 41, 0.1);
	color: rgba(245, 41, 41, 1);
	/* color: white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}

.ForgotPassword .card .form .btn:hover {
	transform: scale(1.1);
}

.ForgotPassword .card .footer {
	color: #696f79;
	/* margin-top: 50px; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
}

.ForgotPassword .card .footer a {
	color: black;
	font-weight: bold;
	transition: ease 0.25s;
}
.ForgotPassword .card .footer a:hover {
	font-size: 1.05rem;
}
