.BookPreview {
    display: flex;
    /* flex-direction: column; */
    /* max-width: fit-content; */
    max-width: 100%;
    margin: 0 1em;
    padding: 1.5em 1em;

    background: rgba(255, 255, 255, .1);
    border: solid 1px rgba(255, 255, 255, .3);
    border-radius: var(--border-rad);
}
.BookPreview img {
    object-fit: contain;
    cursor: pointer;
    /* margin: 0 1em; */
    /* min-height: 20em; */
    /* max-height: 20em; */
    max-height: 20em;
    /* width: 13em; */
    border-radius: var(--border-rad);
    box-shadow: var(--default-shadow);
    transition: ease .5s;
}
.BookPreview img:hover {
    transform: scale(1.25);
}

.BookPreview .book-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1em;
}
.BookPreview .rating-avg {
    margin-top: .5em;
}
.BookPreview .rating-avg svg {
    padding-right: 5px;
}
.BookPreview .categories {
    margin-top: 1em;
}
.BookPreview .genre-tag div {
    box-shadow: none;
}