.BookPreview img {
    object-fit: contain;
    cursor: pointer;
    margin: 0 1em;
    /* min-height: 20em; */
    max-height: 20em;
    border-radius: var(--border-rad);
    box-shadow: var(--default-shadow);
    transition: ease .5s;
}
.BookPreview img:hover {
    transform: scale(1.25);
}