.BookPreview {
    display: flex;
    /* flex-direction: column; */
    /* max-width: fit-content; */
    max-width: 100%;
    margin: 0 1em;
    padding: 1.5em 1em;

    background: rgba(255, 255, 255, .1);
    border: solid 1px rgba(255, 255, 255, .3);
    border-radius: var(--border-rad);
    overflow: hidden;
}
.BookPreview img {
    object-fit: contain;
    cursor: pointer;
    /* margin: 0 1em; */
    max-height: 12.5em;
    border-radius: var(--border-rad);
    box-shadow: var(--default-shadow);
    transition: ease .5s;
}
.BookPreview a:hover img {
    transform: scale(1.25);
}

.BookPreview .book-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1em;
}
.BookPreview .book-details .authors {
    padding: .25em 0 1em;
    max-height: 5em;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.BookPreview .authors::-webkit-scrollbar {
    display: none;
}
.BookPreview .rating-avg {
    margin-top: .5em;
}
.BookPreview .rating-avg svg {
    padding-right: 5px;
}
.BookPreview .genre-tag {
    margin-top: 1em;
    padding: 0.3em 1em;
    width: fit-content;
  
    font-size: .8rem;
    color: var(--light-shade);
  
    background: var(--light-accent);
    border: none;
    border-radius: var(--border-rad);
}