.Lists {
	background-color: var(--dark-shade);
	min-height: 100vh;
}

.Lists h1 {
	color: var(--light-shade);
}

.Lists .top .title {
	background-color: var(--dark-shade);
	padding: 90px;
	grid-column: 1 / -1;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	text-align: center;
}

.Lists .default-lists {
	background: var(--light-accent);
	padding: 2em 0 2em 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

.Lists .search-and-create {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: center;
}

.Lists .search-and-create .search {
	display: flex;
	align-items: center;
}

.Lists .search-and-create .search-bar {
	background-color: var(--light-shade);
	opacity: 0.5;
	border-radius: var(--border-rad);
}

.Lists .search-and-create .search-icon {
	color: var(--light-shade);
	margin-left: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.Lists .search-and-create .search-icon .icon {
	font-size: 37px;
	cursor: pointer;
}

.Lists .search-and-create .create-new-list {
	cursor: pointer;
}

.Lists .display-lists-area {
	display: flex;
	padding: 2em 0 2em 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 70px;
}
