.Lists {
	background-color: #344356;
	/* height: 100vh; */
	font-family: Poppins;
}

.Lists h1 {
	color: #f2efe7;
}

.Lists .top .title {
	background-color: #344356;
	padding: 90px;
	grid-column: 1 / -1;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	text-align: center;
}

.Lists .default-lists {
	background: #ad9d81;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.Lists .search-and-create {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: center;
}

.Lists .search-and-create .search {
	display: flex;
	align-items: center;
}

.Lists .search-and-create .search-bar {
	background-color: #f2efe7;
	opacity: 0.5;
	border-radius: var(--border-rad);
}

.Lists .search-and-create .search-icon {
	color: white;
	margin-left: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.Lists .search-and-create .search-icon .icon {
	font-size: 37px;
	cursor: pointer;
}

.Lists .search-and-create .create-new-list {
	cursor: pointer;
}

.Lists .display-lists-area {
	display: flex;
	padding: 30px 200px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}
