.Account {
	/* color: var(--light-shade); */
	height: 100vh;
}

.Account .header {
	color: var(--light-shade);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em 0;
}

/*.Account .card-content {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.card {
	color: black;
	grid-column: 2;
	background-color: var(--light-shade);
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin-bottom: 2em;
} */

.Account::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 4fr 1fr;

	/* display: flex;
	flex-direction: row; */
	/* position: relative; */
	/* width: 500px; */
	/* height: 300px; */
	/* background: #693333; */
	/* margin: 100px auto 0; */
	/* word-break: break-all; */
	/* border: 1px solid rgba(0, 0, 0, 0.274); */
}

.bloc-tabs {
	display: flex;
	flex-direction: column;

	grid-column: 2;
	background-color: var(--light-shade);
}
.tabs {
	padding: 15px;
	text-align: center;
	width: 50%;
	background: rgba(128, 128, 128, 0.075);
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	box-sizing: content-box;
	position: relative;
	outline: none;
}
.tabs:not(:last-child) {
	/* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.active-tabs {
	background: white;
	border-bottom: 1px solid transparent;
}

.active-tabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% + 2px);
	height: 5px;
	background: var(--dark-accent);
}

button {
	border: none;
}
.content-tabs {
	/* flex-grow: 1; */
	grid-column: 3;
	background-color: var(--light-shade);
}
.content {
	/* background: white; */
	/* padding: 20px; */
	width: 100%;
	height: 100%;
	display: none;
}
.content h2 {
	padding: 0px 0 5px 0px;
}
.content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 2em;
}
.content p {
	width: 100%;
	height: 100%;
}

.content .edit-profile {
	width: 100%;
	height: 100%;
}

.active-content {
	display: block;
}
