.Home {
  min-height: 100vh;
}
.Home h1,
.Home h2 {
  margin: 0;
}
.Home h1 {
  font-size: 3.5rem;
}
.Home .home-hero {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: var(--light-shade);

  padding: 2em 1em;
  /* Might replace with media query */
  overflow: auto;
}
.Home .home-hero-text p {
  font-size: 1.125rem; /* this equals 18px */
  padding-left: 0.5em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.Home .home-hero img {
  /* object-fit: contain; */
  max-height: 20em;
  width: 80em;

  border-radius: var(--border-rad);
  box-shadow: var(--default-shadow);
}

.Home .home-feed {
  padding: 1em;
  color: var(--light-shade);
}
.Home .home-feed h2 {
  font-weight: 500;
}
.Home .home-feed-books {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2em;
}

