.Ratings
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3em 5em;
}
.Ratings .ratings-head 
{
    display: flex;
    color: var(--light-shade);
}
.Ratings .ratings-head a 
{ 
    display: flex;
    align-items: center;
    margin-left: auto;
    /* cursor: pointer;
    background: none;
    border: none;
    color: inherit; */
    transition: ease .25s;
}
.Ratings .ratings-head a:hover {
    transform: scale(1.05);
}
.Ratings .ratings-feed-container
{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    margin-top: 1.5em;
    max-height: 30em;
    overflow-y: auto;

    background: var(--dark-shade-darkest);
    border-radius: var(--border-rad);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .1);
}
.Ratings .rating-review-replies
{
    display: flex;
    flex-direction: column;
}
.Ratings .rating-review 
{
    display: flex;
    align-items: center;
    margin: .5em 0;
}
.Ratings .rating-review-user 
{  
    flex: 1;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-right: .5em;
    overflow: hidden;
}
.Ratings .rating-review-user h3
{
    overflow: hidden;
    text-overflow: ellipsis;
}
.Ratings .rating-review-content
{
    flex: 6;
    padding: 1em 2em;
    border: solid 1px var(--light-shade);
    border-radius: var(--border-rad);
}
.Ratings .rating-review-content-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Ratings .rating-review-content .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    margin-top: 1em;
    color: var(--light-accent);
}
.Ratings .meta svg {
    cursor: pointer;
    margin: 0 .5em;
    color: var(--light-shade);
    transition: ease .25s;
    opacity: .6;
}
.Ratings .meta svg:hover {
    transform: scale(1.2);
    opacity: 1;
}
.Ratings .meta .trash-icon svg:hover {
    color: var(--error-color)
}
.Ratings .meta button {
    cursor: pointer;
    background: none;
    border: solid 1px var(--error-color);
    border-radius: var(--border-rad);
    color: var(--error-color);
    transition: ease .25s;
    padding: .2em .5em;
    font-family: inherit;
}
.Ratings .meta button:hover {
    transform: scale(1.1);
    background: var(--error-color);
    color: var(--light-shade);
}