@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro:wght@600;700&display=swap");

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: fit-content; */
  /* height: 45px; */

  background: var(--main-clr);
  padding: 1em;
  z-index: 32;
}
.Navbar .content {
  display: none;
}
.Navbar button {
  background: transparent;
  border: none;
  color: inherit;
}
.Navbar .content-small-screen {
	display: flex;
	width: 100%;
	justify-content: space-between;
	z-index: 10;
}
.Navbar .content-small-screen .bars-menu {
  position: absolute;
  left: 0;
  top: 61px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 200%;
  width: 100%;
  padding: 1em 0;

  background: linear-gradient(to bottom, var(--dark-shade), var(--dark-shade-8-opacity));
}
.Navbar .user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}
.Navbar .pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;

  margin: 0;
  font-size: 3rem;
}
.Navbar .pages li {
  transition: ease .25s;
}
@media screen and (max-width: 768px) {
  .Navbar .pages li:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 768px) {
  .Navbar .content-small-screen {
    display: none;
  }
  .Navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    color: var(--light-shade);
  }
  .Navbar .content .logo {
    font-family: "Source Serif Pro", sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .Navbar .logo {
    color: var(--dark-shade);
  }
  .Navbar .content .logo img {
    height: 45px;
    padding-right: 7px;
  }
  .Navbar .content .user-buttons {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
  }
  .Navbar .content .pages {
    flex-direction: row;
    margin: 0;
    font-size: 1rem;
  }
  .Navbar .content .pages li {
    margin: 0 1em;
  }
  .Navbar .content .user-buttons a {
    margin: 0 1em;
  }
}
