@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro:wght@600;700&display=swap");

.Navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--main-clr);
	padding: 0.5em 1em;
}
.Navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	margin: 0 auto;
	color: var(--light-shade);
}
.Navbar .content .logo {
	font-family: "Source Serif Pro", sans-serif;
	font-size: 2rem;
}
.Navbar .content .user-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.Navbar .content .pages {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;

	margin: 0;
}
.Navbar .content .pages li {
	margin: 0 1em;
}
.Navbar .content .search-bar {
	display: flex;
	align-items: center;
}
.Navbar .content .search-bar input {
	height: 2em;
	width: 25em;

	background: var(--light-shade-6-opacity);
	border: none;
	border-radius: var(--border-rad);
}
.Navbar .content .search-bar input[type="text" i] {
	padding-left: 1em;
	font-family: inherit;
}
.Navbar .content button {
	cursor: pointer;
	background: transparent;
	border: none;
	color: inherit;
}
.Navbar .content .search-bar .search-icon {
	margin: 0;
	font-size: 1.5rem;
}
.Navbar .content .user-portal .user-icon {
	font-size: 2rem;
}
.Navbar .content .user-buttons {
	display: flex;
	align-items: center;
}
.Navbar .content .user-buttons a {
	margin: 0 1em;
}