@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro:wght@600;700&display=swap");

.Navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--main-clr);
	padding: 1rem;
}
.Navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	margin: 0 auto;
	color: var(--light-shade);
}
.Navbar .content .logo {
	font-family: "Source Serif Pro", sans-serif;
	font-size: 2rem;
}
.Navbar .content .user-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
