.ListCard {
	display: grid;
	grid-template-rows: 6fr 1fr;
	background-color: var(--light-shade);
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	width: 20em;
	height: 20em;
}

.ListCard .cover {
	padding: 10px;
	height: 10em;
	width: 18em;
	overflow: hidden;
	margin: 0 auto;
}

.ListCard img {
	object-fit: cover;
	height: 10em;
	width: 18em;
	border-radius: var(--border-rad);
	transition: ease 0.25s;
}
.ListCard img:hover {
	transform: scale(1.05);
}

.ListCard .information {
	color: var(--dark-shade);
	margin: 10px;
}

.ListCard .create-new-list {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}

.ListCard .three-dots {
	font-size: 2.5rem;
	cursor: pointer;
	color: black;
}

/* The toggled menu that appears after clicking dots */
.ListCard .create-new-list .options {
	position: absolute;
	top: 1.5em;
	right: -4em;

	padding: 0.5em 2em;
	background-color: var(--light-shade);
	border-radius: var(--border-rad);
}

.ListCard .create-new-list li {
	color: black;
	list-style-type: none;
	white-space: nowrap;
}
