.ListCard {
	display: grid;
	grid-template-rows: 2fr 1fr;
	background-color: rgb(251, 249, 249);
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	margin-bottom: 20px;
	width: 20em;
	height: 20em;
}

.ListCard .cover {
	padding: 10px;
	height: 10em;
	width: 18em;
	overflow: hidden;
	margin: 0 auto;
}

.ListCard img {
	object-fit: cover;
	height: 10em;
	width: 18em;
	border-radius: var(--border-rad);
}

.ListCard .information {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 10px;
}

.ListCard .information .by-username {
	grid-row: 2;
	grid-column: 1;
}

.ListCard .information .create-new-list {
	grid-row: 2;
	grid-column: 2;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.ListCard .information .create-new-list .three-dots {
	font-size: 2.5rem;
	cursor: pointer;
}
