/* .ProfilePage {
	font-family: Poppins;
	padding: 30px;
} */

/* .ProfilePage .white-chunk {
	position: absolute;
	width: 100%;
	height: 200px;
	z-index: -1;
	background: var(--light-shade);
} */

.ProfilePage .user-information-and-image {
	background: var(--light-shade);
	display: flex;
	/* grid-template-columns: 1fr 3fr; */
}
/* .ProfilePage .user-information-and-image {
	background: var(--light-shade);
	display: grid;
	grid-template-columns: 1fr 3fr;
} */

.ProfilePage .user-information-and-image .user-image {
	flex: .5;
	display: flex;
	justify-content: center;
	padding: 0 .5em;
}

.ProfilePage .image {
	transform: translateY(30%);
	object-fit: cover;
	height: 10em;
	width: 10em;
	border-radius: 50%;
}

.ProfilePage .user-information-and-image .user-information {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	word-break: break-all;
	padding: 0 .5em;
}

.ProfilePage .user-information-and-image .user-information h1 {
	color: var(--dark-shade);
}

.ProfilePage .user-information-and-image .user-information .more-info {
	display: flex;
}

.ProfilePage .user-information-and-image .user-information .more-info p {
	margin-right: 20px;
	color: var(--light-accent);
}

/* ----- User Feed ----- */
.ProfilePage .user-feed {
	padding: 5em 1em 1em;
}

.ProfilePage .top-authors {
	color: var(--light-shade);
	margin: 100px 30px 30px 30px;
}

.ProfilePage .top-authors .author-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ----- Library ----- */
.ProfilePage .library {
	color: var(--light-shade);
	/* margin: 30px; */
}

.ProfilePage .library .lists-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em 0;
}

/* ----- Currently Reading ----- */
.ProfilePage .currently-reading {
	/* margin: 30px; */
	color: var(--light-shade);
}

.ProfilePage .currently-reading .books {
	padding: 1em 0;
}

.ProfilePage .my-reviews {
	color: var(--light-shade);
}
