.UserHome {
    min-height: 100vh;
    color: var(--light-shade);
}

.UserHome h1,
.UserHome h2 {
	margin: 0;
}

.UserHome .home-feed {
	padding: 1em;
	color: var(--light-shade);
}

.UserHome .home-feed{
	padding: 1em;
	color: var(--light-shade);
}

.UserHome .top-feed{
	padding: 1em;
	color: var(--light-shade);
}

.UserHome .home-feed .empty-message{
	margin-top: 2em;
	border: 1px solid var(--light-shade);
	border-radius: var(--border-rad);
	padding: 2em;
	display: flex;
	justify-content: center;
}