.PasswordReset {
	min-height: 100vh;
	width: 100%;
	background: var(--dark-shade);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 0;
	color: black;
}

.PasswordReset .card {
	width: 620px;
	padding: 24px 36px 0 36px;
	background: var(--light-shade);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
	padding-bottom: 2em;
}

.PasswordReset .card .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	padding-bottom: 3em;
}

.PasswordReset .card .form .input-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	margin: 12px 0;
}

.PasswordReset .card .form .input-field label {
	color: #696f79;
}

.PasswordReset .card .form .input-field input {
	height: 52px;
	padding: 0 15px;
	font-size: 16px;
	border: solid 1px #8692a6;
	width: 100%;
	border-radius: 6px;
}

.PasswordReset .card .error {
	background: #fe5421;
	background: rgba(245, 41, 41, 0.1);
	color: rgba(245, 41, 41, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}

.PasswordReset .card .form .btn {
	background-color: var(--dark-accent);
	border: none;
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	height: 40px;
	width: 300px;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: ease 0.25s;
}

.PasswordReset .card .form .btn:hover {
	transform: scale(1.1);
}

.PasswordReset .card .footer {
	color: #696f79;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	padding-bottom: 20px;
}

.PasswordReset .card .footer a {
	color: black;
	font-weight: bold;
	transition: ease 0.25s;
}
.PasswordReset .card .footer a:hover {
	font-size: 1.05rem;
}
