@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--light-shade: #f2efe7;
	--light-accent: #ad9d81;
	--main-clr: #d6955a;
	--dark-accent: #d37942;
	--dark-shade: #344356;
}

body {
	margin: 0;
	padding: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
	-webkit-font-smoothing: antialiased;
	font-family: "Poppins", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	background: var(--dark-shade);
}

body::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}
body::-webkit-scrollbar-track {
	background: #060b26;
}
body::-webkit-scrollbar-thumb {
	background: var(--main-clr);
}

body a {
	text-decoration: none;
	color: var(--light-shade);
}
