.Book {
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 2em 1em;
    color: var(--light-shade);
}
.Book h1,
.Book h2,
.Book h3 {
    font-weight: 400;
}
.Book .book-card {
    display: flex;
    align-items: flex-start;
    width: 80%;
}
.Book .book-card img {
    object-fit: contain;
    max-height: 500px;
    width: 312.5px;
    border-radius: var(--border-rad);
    box-shadow: var(--default-shadow);
    transition: ease .5s;
}
.Book .book-card img:hover {
    transform: scale(1.05);
}
.Book .book-card .book-details {
    display: flex;
    flex-direction: column;

    margin-left: 1em;
}
.Book .book-card .book-details-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
.Book .book-card .book-details-head .book-author {
    align-self: flex-end;
}
.Book .book-card .book-details-head .pub-date {
    /* align-self: flex-start; */
    padding-top: .5em;
    color: var(--light-shade-6-opacity);
}