.Book {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	/* justify-content: center; */
	padding: 2em 1em;
	color: var(--light-shade);
	width: 80%;
}
.Book h1,
.Book h2,
.Book h3 {
	font-weight: 400;
}
.Book .book-card {
	display: flex;
	align-items: flex-start;
	/* width: 80%; */
}
.Book .book-card img {
	object-fit: contain;
	/* max-height: 500px; */
	/* width: 312.5px; */
	/* min-height: 20em; */
	/* width: 20em; */
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	transition: ease 0.5s;
}
.Book .book-card img:hover {
	transform: scale(1.05);
}
.Book .book-card .book-details {
	display: flex;
	flex-direction: column;

	margin-left: 1em;
}
.Book .book-card .book-details-head {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
}

/* mouse over author link */
.Book .book-details-head a:hover {
	color: var(--dark-accent);
}

.Book .book-card .book-details-head .pub-date {
	padding-top: 0.5em;
	color: var(--light-shade-6-opacity);
}
.Book .book-details-lower {
	margin-top: 1em;
}

.Book .btn {
	background-color: var(--dark-accent);
	border: none;
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	height: 40px;
	width: 120px;
	color: var(--light-shade);
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: ease 0.25s;
}

.Book .btn:hover {
	transform: scale(1.1);
}

.Book .select-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Book .btn-select-list {
	padding: 1em;
	background-color: var(--dark-accent);
	border: none;
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	/* height: 40px;
	width: 120px; */
	color: var(--light-shade);
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: ease 0.25s;
}
.Book .btn-select-list:hover {
	transform: scale(1.1);
}
.Book .book-details-lower .rating-avg {
	display: flex;
	align-items: center;
	padding: 1em 0;
}
.Book .book-details-lower .rating-avg svg {
	padding-right: 0.5em;
}
.Book .book-details .categories {
	display: flex;
	flex-wrap: wrap;
}
.Book .categories .genre-tag div{
	margin: .5em;
	box-shadow: none;
}
.Book .categories .genre-tag div:first-child {
	margin-left: 0;
}
.Book .book-details .book-desc {
	margin: 1em 0;
	max-height: 15em;
	overflow: auto;
	text-overflow: ellipsis;
}
.Book .book-desc::-webkit-scrollbar-thumb {
	background: var(--light-accent);
}
