.SearchResults
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--light-shade);
    padding: 2em .5em;
}
.SearchResults h1 
{
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
}
.SearchResults .search-feed 
{
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 1em;
}
.SearchResults .search-feed-buttons 
{
    margin-top: 2em;
}
.SearchResults .search-feed-buttons button {
    background: var(--light-accent);
    margin: 0 .5em;
    padding: .5em 2em;
}