.Replies {
    /* max-height: 20em; */
    max-width: 60%;

    align-self: flex-end;
}

.Replies .reply-container {
    padding: 1em;
    margin: .5em 0;

    border: solid 1px var(--light-shade);
    border-radius: var(--border-rad);
}
.Replies .reply-container:first-child {
    margin-top: 0;
}

.Replies .reply-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    margin-top: 1em;
    color: var(--light-accent);
}
.Replies .meta-actions {
    margin-left: 2em;
}
.Replies .meta-actions button {
    margin: 0 .25em;
    background: none;
    padding: .2em .5em;
    font-family: inherit;
    border: none;
    border-radius: var(--border-rad);
    color: var(--light-shade-8-opacity);
}