.DetailedListRow {
	color: var(--light-shade);
    min-width: 89.5vw;

}

.DetailedListRow .information {
	display: grid;
	grid-template-columns: [one] .5fr [two] 2.5fr [three] 2fr [four] 3fr [five] 1fr [six] .2fr;
    color: white;
    padding: 1em;
    border-radius: var(--border-rad);

}

.DetailedListRow .information .row-item{
	/* display: grid; */
    align-self: center;
    padding: 0em 1.5em;
}

.DetailedListRow .information .row-item h2{
	font-weight: normal;
}

.DetailedListRow .information .row-item .tab {
    overflow: hidden;
    text-overflow: ellipsis ;
    min-width: 2em;
    /* white-space: nowrap; */
}
.DetailedListRow .information .row-item .tab h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .DetailedListRow .information .row-item .tab a{
    color: var(--dark-accent);
} */
.DetailedListRow .information .row-item .tab a:hover{
    text-decoration: underline;
}

.DetailedListRow .information .row-item .three-dots:hover {
    cursor: pointer;
    color: var(--dark-accent);
}

.DetailedListRow .information .row-item.categories {
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}
.DetailedListRow .row-item.categories .GenreTag {
    margin: .25em;
}

.DetailedListRow .information .row-item .options {
    position: absolute;
	padding: .5em 1em;
	background-color: var(--light-shade);
    border-radius: var(--border-rad);
    margin-top: 1.25em;
}

.DetailedListRow .select-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.DetailedListRow ul 
{
    display: flex;
    flex-direction: column;
}

.DetailedListRow li
{
    list-style-type: none;
    color: var(--dark-shade);
    margin: .25em 0;
    transition: ease .25s;
}

.DetailedListRow a li:hover
{
    background: var(--dark-accent);
    border-radius: var(--border-rad);
    color: var(--light-shade);
    padding: .2em .5em;
}

.DetailedListRow .btn-select-list {
	padding: 1em;
	background-color: var(--dark-accent);
	border: none;
	border-radius: var(--border-rad);
	box-shadow: var(--default-shadow);
	color: var(--light-shade);
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: ease 0.25s;
}
.DetailedListRow .btn-select-list:hover {
    background: var(--dark-accent);
    border-radius: var(--border-rad);
    color: var(--light-shade);
    transform: scale(1.1);
}
